h1 {
    color:aliceblue; 
    length: 100%;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 75px;
    text-shadow: 2px 2px 5px #fff;
    background-image: url("New Walk scenery cropped.jpg");
    background-position: center;
    background-size: cover;
    margin: 15px;
}
/* This white shadow behind the header text that's making it appear to be glowing was, for a time, originally black, via the 0, 0, 0 RGB values.
It was changed to white to make my site that little bit more unique-looking from my original design concept, as the latter also features black shadows
behind the text elements in the header bar for depth. */

h2 {
    font-size: 40px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 15px;
}

h3 {
    font-size:30px;
    font-family:'Times New Roman', Times, serif;
    margin: 15px;
}

p {
margin: 15px;
}

nav {
    text-align: right;
    font-size: 35px;
    font-family:'Courier New', Courier, monospace;
    background-color: rgb(194, 194, 194);
    background-size: cover;
    margin: 15px;
}
/* This is where the main a href link attributes, one of the site's characteristics that's a constant for both of the pages, lie, and unlike the original
design concept there's no glyphs between the page titles to separate them, along with me wanting the font here to be more typewriter-like this time as another way of
differentiating this site from said design concept, so that the site's not merely a carbon copy. */

.Avatar {
    border-radius: 50%;
    float: right;
    width: 5%;
    margin: 15px;
}

/*  */

.SocialMediaIcons {
    float: center;
    height: 65px;
    width: 65px;
}

.FlexContainer {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}

.Video {
    width: 50%;
}

.Leaf {
    width: 20%;
}
/* The leaves were deliberately designed and given this width property to make them smaller so that they'd detract less attention from the video, which is the main and
most important characteristic of the entirety of the Home page. */

        img {
            width: 100%;
            margin: 15px;
        }
        .overlay {
            background-color: rgba(0, 0, 0, 0.7);
            position: absolute;
            top: 0;
            width: 100%;
            height: 95%;
            opacity: 0;
            transition: opacity 1s;
            text-align: center;
            color: #fff;
            margin: 15px;
        }

        .overlay:hover {
            opacity: 1;
        }

        .overlay h1, .overlay p {
            margin: 20px;
            color: white;
        }

        .imageContainer {
            box-sizing: border-box;
            position: relative;
            width: calc(50% - 6px);
            float: left;
            margin: 3px;
        }
        /* These are the properties with the most amount of coding in all of this CSS file, for the Portfolio page; this is an overlay effect, which involves transitions that are
        only triggered by interaction from the user at any given time, so it needed very specific coding to ensure that nothing became too disjointed or messy due to changes caused by this interaction.
        With the exception of the video on the Home page, the overlays for the photographs are the only other non-static element on the whole site. */